<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- log file path -->
    <property name="log.path" value="/home/vagrant/logs"/>
    <!-- log output format -->
    <property name="log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - %msg%n"/>

    <!-- console output -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- system log output -->
    <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/sys-info.log</file>
        <!-- rolling policy:create log file based on time -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- log file name format -->
            <fileNamePattern>${log.path}/sys-info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- log max history 60 days -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- filter level -->
            <level>INFO</level>
            <!-- operate when matched: accept -->
            <onMatch>ACCEPT</onMatch>
            <!-- operate when does not matched: deny -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/sys-error.log</file>
        <!-- rolling policy:create log file based on time -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- log file name format -->
            <fileNamePattern>${log.path}/sys-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- log max history 60 days -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- filter level -->
            <level>ERROR</level>
            <!-- operate when matched: accept -->
            <onMatch>ACCEPT</onMatch>
            <!-- operate when does not matched: deny -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- userInfo visit log output  -->
    <appender name="sys-userInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/sys-userInfo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollback daily -->
            <fileNamePattern>${log.path}/sys-userInfo.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- log max history 60 days -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- system module log level control  -->
    <logger name="com.kingland" level="info"/>
    <!-- Spring log level control  -->
    <logger name="org.springframework" level="warn"/>

    <root level="info">
        <appender-ref ref="console"/>
    </root>

    <!--  system operate log  -->
    <root level="info">
        <appender-ref ref="file_info"/>
        <appender-ref ref="file_error"/>
    </root>

    <!--  system userInfo operate log  -->
    <logger name="sys-userInfo" level="info">
        <appender-ref ref="sys-userInfo"/>
    </logger>
</configuration>
